{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "jest-enzyme"
  ],
  "plugins": [
    "jest",
    "flowtype",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "import/core-modules": [
      "history"
    ]
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ],
    "no-else-return": 0,
    "arrow-body-style": [
      "warn",
      "always"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "object-shorthand": [
      "error",
      "never"
    ],
    "react/prefer-stateless-function": 0,
    "react/sort-comp": [
      "error",
      {
        order: [
          "type-annoations"
        ]
      }
    ],
    "no-multi-assign": 0,
    "react/destructuring-assignment": [
      "warn",
      "always"
    ]
  }
}
