{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "jest",
    "flowtype",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ]
  }
}
