.section-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-container-alternate {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.callout-container {
  padding: 9rem 0 7rem;
}

.graph-container {
  padding: 5rem 0 2.5rem;
}

.alternate-container-fluid {
  background: #4DBCE9;
}

.features-grid i {
  font-size: 3rem;
}
