.section-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-container-alternate {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.callout-container {
  padding: 9rem 0 7rem;
}

.graph-container {
  padding: 4rem 0 0;
}

.alternate-container-fluid {
  background: #4DBCE9;
}

.features-grid i {
  font-size: 3rem;
}
