.animated-graph {
  padding-top: 1rem;
}

.section-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-container-alternate {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.callout-container {
  padding: 8rem 0;
}

.graph-container {
  padding: 5rem 0 0;
}

.alternate-container-fluid {
  background: #4DBCE9;
}

.features-grid i {
  font-size: 2.5rem;
}

text {
  font-size: 0.85rem;
}
