.footer-container {
  background-color: #E6E6E6;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bottom-bar li:first-child a {
  padding-left: 0;
}

.bottom-bar li:last-child a {
  padding-right: 0;
}
