.top-bar-container {
  background-color: #E6E6E6;
}

.top-bar {
  padding: 1.5rem 0;
}

.top-bar li a {
  padding: 2.2rem 1rem;
}

.top-bar li:first-child a {
  padding-left: 0;
  font-weight: bold;
}

.top-bar li:last-child a {
  padding-right: 0;
}

.logo {
  text-transform: lowercase;
}
